.huruf{width: 15%}
thead {height: 60px;}
table, td, th {border: 3px solid black;}
th {width:18%;text-align: center;vertical-align: center;}
tr {font-size: 16px;text-align: center;vertical-align: center;}
td {font-size:18px;text-align: center;vertical-align: center;}
.hrefs{text-decoration: none; color: black;}
.hrefs:hover{color:inherit}